name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v2

      - name: Start Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true

      - name: Build the website
        run: bundle exec jekyll build

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@2.0.0
        env:
          FTP_SERVER: files.srcf.net
          FTP_USERNAME: ak2316
          FTP_PASSWORD: ${{ secrets.PASSWORD }}
          LOCAL_DIR: _site
          METHOD: sftp
          PORT: 22
        with:
          remote_dir: /home/ak2316/site
